<!-- <div class="d-flex flex-column align-items-center justify-content-center">
    <div class="welcome-header h3 py-4">Welcome to Tchat website</div>
    <div class="welcome-content small text-center">Easy chats, stay connected. Simple, friendly app for
        sharing and talking. Connect effortlessly, build relationships. Your go-to for easy and meaningful
        conversations.
    </div>
    <img width="500" height="450" src="assets/images/welcome.jpg">
</div> -->

<div class="flex-grow-1 text-center d-flex flex-column align-content-center "
        style="padding-top: 25%">
    <span class="h1 mb-3 text-success">Welcome to Tchat website</span> <small>Easy chats, stay connected. Simple, friendly app for
        sharing and talking. Connect effortlessly, build relationships. Your go-to for easy and meaningful
        conversations.</small>
    <hr class="mt-3">
    <div class="mt-2">
        <a class="me-5 text-success" href="https://github.com/gaconlontoni21" target="_blank">
            <i class="fa-brands fa-lg fa-github" aria-hidden="true"></i>
        </a>
        <a class="me-5 text-success" href="https://www.facebook.com/61552512084013" target="_blank">
            <i class="fa-brands fa-lg fa-facebook" aria-hidden="true"></i>
        </a>
        <a class="me-5 text-success" href="https://www.instagram.com/tinhlam533" target="_blank">
            <i class="fa-brands fa-lg fa-instagram" aria-hidden="true"></i>
        </a>
    </div>
</div>