<div class="d-flex justify-content-start py-3">
    <div class="message-wrapper bg-light-grey rounded p-2 text-secondary">
        <div class="d-flex flex-column">
            <div class="d-flex align-items-center mb-2">
                <img class="rounded-circle" src="assets/images/mark.jpg" alt="Avatar" width="40"
                     height="40">
                <div class="ms-2">
                    <i class="fa-solid fa-key"></i>
                </div>
                <div class="ms-2">
                    <small>{{message.sender.name}}</small>
                </div>
            </div>
            <div>
                <p *ngIf="messageType == 'TEXT'">
                    {{message.content}}
                </p>
                <!-- <ng-container *ngIf="(message as any)?.content !== undefined">
                    <p>{{ (message as any).content }}</p>
                </ng-container> -->
                <!-- <th:block th:switch="${message.class.name}">
                    <th:block th:case="'chatapp.entity.TextMessageEntity'">
                        <p class="mx-2" th:text="${message.content}"></p>
                    </th:block>
                    <th:block th:case="'chatapp.entity.MediaMessageEntity'">
                        <a th:if="${message.type.name() == 'FILE'}" class="file-message" href="javascript:void(0)" target="_blank" th:text="${message.fileName}" th:attr="data=${message.data}"></a>
                        <img th:if="${message.type.name() == 'IMAGE'}" class="w-100" style="height: 200px"
                             href="javascript:void(0)" th:src="${message.data}" alt="image"/>
                        <video th:if="${message.type.name() == 'VIDEO'}" class="w-100" th:src="${message.data}" controls></video>
                        <audio th:if="${message.type.name() == 'AUDIO'}" th:src="${message.data}" controls></audio>
                    </th:block>
                </th:block> -->
            </div>
            <div class="d-flex justify-content-end">
                <small>{{message.sentAt | date: 'dd/MM/yyyy HH:mm:ss'}}</small>
            </div>
        </div>
    </div>
</div>